* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #dfdfdf;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:15px;
    margin:0px;
    padding:0px;
    height:100%;
    width:100%;
}

.app {
    height:100%;                   /* text area height */
    width:100%;                   /* text area width */
    text-align:center;
    padding: 10px;
}

.ptsButton {
  margin: 1em;
  padding: 1em;
  background: black;
  color: white;
}
